header {
  padding: 32px 8px 0px 0px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  align-items: center;
}
.logo-img {
  width: 16px;
  height: 16px;
  margin-right: 2.5px;
}
.logo {
  color: var(--white);
  margin: 0;
  font-size: 16px;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
.nav-item {
  margin: 0 16px;
}

.nav-link {
  color: var(--gray);
  text-decoration: none;
}

.nav-link[href="index.html"] {
  color: var(--white);
}
.nav-link::before {
  content: "#";
  color: var(--primary);
  margin-right: 1px;
}
.main-container {
  max-width: 1024px;
  margin: 0 auto;
}
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 18px;
  margin-top: 62px;
}
.hero-content {
  flex: 1;
}
.hero-content h2 {
  color: var(--white);
  font-size: 32px;
}
.hero-content span {
  color: var(--primary);
}
.hero-content p {
  color: var(--gray);
  margin-bottom: 24px;
}
.contact-btn {
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--white);
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.contact-btn:hover {
  background-color: var(--primary);
}
.portfolio-note-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--gray);
  padding: 8px;
  width: 402px;
}

.hero-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.purple-square {
  width: 16px;
  height: 16px;
  background-color: var(--primary);
}
.portfolio-note {
  color: var(--gray);
  font-size: 16px;
  display: flex;
  margin: 0;
}
.portfolio-note span {
  color: var(--white);
  font-weight: bold;
}
