header {
  padding: 32px 8px 0px 0px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  align-items: center;
}
.logo-img {
  width: 16px;
  height: 16px;
  margin-right: 2.5px;
}
.logo {
  color: var(--white);
  margin: 0;
  font-size: 16px;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
.nav-item {
  margin: 0 16px;
}

.nav-link {
  color: var(--gray);
  text-decoration: none;
}

.nav-link[href="index.html"] {
  color: var(--white);
}
.nav-link::before {
  content: "#";
  color: var(--primary);
  margin-right: 1px;
}
